<section class="about-section education-section">
  <dl class="section-list">
    <div class="education-item">
      <dt>
        Georgia Institute of Technology <span class="dates">(2025 - Present)</span>
        <img src="assets/img/gatech.png" alt="Georgia Tech logo" class="edu-logo">
      </dt>
      <dd><b>M.S.</b> in Computational Science and Engineering</dd>
      <dd><b>GPA</b>: 4.00/4.00</dd>
      <dd><b>Research Focus</b>: LLM Agents, AI4Sci.</dd>
    </div>

    <div class="education-item">
      <dt>
        Sun Yat-sen University <span class="dates">(2021 - 2025)</span>
        <img src="assets/img/sysu.png" alt="SYSU logo" class="edu-logo">
      </dt>
      <dd><b>B.Eng.</b> in Macromolecular Materials & Engineering</dd>
      <dd><b>GPA</b>: 3.8/4.0 (rank 1/37)</dd>
      <dd>
        <b>Research Focus</b>: Theoretical and Computational Chemistry; Materials Calculations.
      </dd>
      <dd><b>Advisor</b>: Prof. Wen Shi</dd>
    </div>
  </dl>
</section>
