<section class="about-section work-section">
  <div class="work-item">
    <dt>
      New York University Shanghai <span class="dates">(July 2024 - Sep 2024)</span>
      <img src="assets/img/NYU_Shanghai.png" alt="NYU SHanghai logo" class="work-logo">
    </dt>
    <dd>Research Intern, Sun Group</dd>
    <dd><b>Topic</b>: Machine Learning–Augmented Molecular Dynamics for Excited-State Proton Transfer</dd>
    <dd><b>Advisor</b>: Prof. Xiang Sun</dd>
  </div>
</section>
